* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Carousel */


/* Navigation items */
nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 30px;
  font-size: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
}

nav ul li a:hover {
  color: #a6b4ce;
  border-radius: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 25px;
  z-index: 1;
}

.dropdown-content li {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Phone Section */
.phone-col-1 img {
  flex-basis: 30%;
  width: 500px;
  height: auto;
  padding: 30px;
}

.phone-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 70px;
  padding: 30px 15px;
  border: 1px solid #b5b4b4;
  border-radius: 25px;
}

.phone-col-2 {
  flex-basis: 60%;
  text-align: center;
}

/* Key Section */
.key-col-1 {
  flex-basis: 60%;
  text-align: center;
}

.key-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 70px;
  padding: 30px 15px;
  border: 1px solid #b5b4b4;
  border-radius: 25px;
}

.key-col-2 img {
  flex-basis: 30%;
  width: 500px;
  height: auto;
  padding: 30px;
}

/* Watch Section */
.watch-col-1 img {
  flex-basis: 30%;
  width: 500px;
  height: auto;
  padding: 30px;
}

.watch-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 70px;
  padding: 30px 15px;
  border: 1px solid #b5b4b4;
  border-radius: 25px;
}

.watch-col-2 {
  flex-basis: 60%;
  text-align: center;
}

/* Shoe Section */
.shoe-col-1 {
  flex-basis: 60%;
  text-align: center;
}

.shoe-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 70px;
  padding: 30px 15px;
  border: 1px solid #b5b4b4;
  border-radius: 25px;
}

.shoe-col-2 img {
  flex-basis: 30%;
  width: 500px;
  height: auto;
  padding: 30px;
}

/* Gift Section */
.gift-col-1 img {
  flex-basis: 30%;
  width: 500px;
  height: auto;
  padding: 30px;
}

.gift-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 70px;
  padding: 30px 15px;
  border: 1px solid #b5b4b4;
  border-radius: 25px;
}

.gift-col-2 {
  flex-basis: 60%;
  text-align: center;
}

/* Gift Section */
.footer {
  background-color: #232323;
  padding: 25px 100px;
  display: flex;
  justify-content: space-between;
}

.footer ul {
  text-decoration: none;
  list-style: none;
}

.footer ul li {
  padding: 5px 10px;
  font-weight: bold;
  color: rgb(255, 254, 254);
}
